@font-face {
  font-family: vcrosdmono;
  src: url("./font/VCR_OSD_MONO_1.001.ttf");
}

/* Webfont CSS setup for MMRock9 by Caveras */
@font-face {
  font-family: "MMRock9";
  src: url("./font/MMRock9.eot");
  src:
    url("./font/MMRock9.eot?#iefix") format("embedded-opentype"),
    url("./font/MMRock9.woff") format("woff"),
    url("./font/MMRock9.ttf") format("truetype"),
    url("./font/MMRock9.svg#MMRock9") format("svg");
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "MMRock9";
    src: url("./font/MMRock9.svg") format("svg");
    font-weight: normal;
    font-style: normal;
  }
}

#root {
}
.gallery {
  background-image: url("./img/Clouds_(Windows_95).webp");
  background-size: cover;
  image-rendering: pixelated;
}
.megaman {
  background-image: url("./img/robits/bg.png");
  background-size: 12.5%;
  image-rendering: pixelated;
  font-family: MMRock9;
  text-shadow: rgba(0, 0, 0, 1) 5px 5px;
}
.megaman .imgContainer {
  border: 32px solid transparent;
  border-image: url("./img/frame-border.png") 16;
  border-image-width: 64px;
  overflow: hidden;
}
@media (max-width: 800px) {
  .megaman .gridContainer {
    display: flex;
    flex-flow: column nowrap;
  }
}
